body
{
    padding-left: 550px; 
    background-color: cadetblue;
    color: white;
}
td
{
    background-color: green;
}
b
{
   margin-left: 10px;
   display: block;
}
strong
{
    background-color: darkgreen; 
}