body
{
    padding-left: 300px; 
    background-color: aquamarine;
}
td
{
    background-color: green;
}
b
{
   margin-left: 10px;
   display: block;
}
strong
{
    background-color: rgb(58, 10, 192); 
}
b table
{
    margin-right: -100px;
    margin-inline-start: 400px;
    margin-top: -102%;
}
G 
{
    background-color: gold;
}
m
{
    background-color: rgb(206, 10, 4);
}
u
{
    padding-left: 190px;
    font-size: 40px;
    color: white;
}